@import "compass/css3";





body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Poppins", system-ui;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.options-form {
  box-sizing: border-box;
  outline-style: none;
  width: auto;
  font-family: "Poppins", system-ui;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.main-content {
    padding: 10%;
}

.options-form .form-row {
  margin-top: 10px;
  margin-left: 20px;

}

.options-form .form-row>label span {
  display: block;
  box-sizing: border-box;
  color: #000000;
  padding: 0 0 6px;
  font-family: "Poppins", system-ui;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.options-form select {
  background: none;
  backdrop-filter: blur(25px);
  color: #000000;
  box-sizing: border-box;
  min-width: 225px;
  width: 90%;
  max-width: 400px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8.5px 12px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  font: bold 14px/100% "Andale Mono", AndaleMono, monospace;
}

.options-form input[type=radio],
.options-form input[type=checkbox] {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: auto;

}

.options-form .form-radio-buttons label span {
  margin-left: 8px;
  color: #000000;
  font-weight: normal;
}

.options-form .form-radio-buttons input {
  width: auto;
}

.options-form button {
  backdrop-filter: blur(25px);
  width: 30%;
  margin-left: 0px;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--light-color);
  background: none;
  border: 1px solid #dbdbdb;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: transform 150ms ease;

}




.options-form button:hover {
  transform: scale(1.02);
  cursor: pointer;
}


.card {
  position: relative;
  width: 30%;
  height: 50%;
  margin-top: 8%;
  margin-left: 10%;
  
  display: block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card2 {
  position: relative;
  width: 35%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  padding-bottom: 1%;
  
  display: block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card3 {
  position: relative;
  width: 35%;
  height: auto;
  margin-top: 8%;
  margin-left: 2%;
  padding-bottom: 1.1%;
  padding-top: 0.4%;
  
  display: block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.8rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-cover {
  position: fixed;
  backdrop-filter: blur(25px);
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}




.blobs {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  margin: auto;
  filter: blur(20px) contrast(2);
  animation: demonstration 10s linear infinite;
  overflow: hidden;
}


.blob {
  background: purple;
  position: absolute;
  left: 75%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 100%;
}

.big-blob {
  width: 150vw;
  height: 150vw;
  left: -50vw;
  bottom: 0vw;
  opacity: 0.6;
  filter: blur(10vw) contrast(1);
  background: blue;
}

@keyframes blob-anim-1 {
  0% {
    transform: translate(5vw, -7vw);
  }

  50% {
    transform: translate(6vw, 2vw);
  }

  100% {
    transform: translate(-3vw, 5vw);
  }
}

.blob:nth-child(2) {
  animation: blob-anim-2 ease-in-out 2s infinite alternate;
  width: 10vw;
  height: 8vw;
}

@keyframes blob-anim-2 {
  0% {
    transform: translate(3vw, 7vw);
  }

  50% {
    transform: translate(-6vw, 4vw);
  }

  100% {
    transform: translate(3vw, -5vw);
  }
}

.blob:nth-child(2) {
  animation: blob-anim-2 ease-in-out 2s infinite alternate;
  width: 15vw;
  height: 11vw;
}

@keyframes blob-anim-3 {
  0% {
    transform: translate(-15vw, -10vw);
    opacity: 0.5;
  }

  50% {
    transform: translate(5vw, -3vw);
    opacity: 1;
  }

  100% {
    transform: translate(-7vw, 6vw);
    opacity: 0.8;
  }
}

.blob:nth-child(3) {
  animation: blob-anim-3 ease-in-out 2s infinite alternate;
  background: pink;
  width: 23vw;
  height: 22vw;
}

@keyframes blob-anim-4 {
  0% {
    transform: translateX(5vw);
    width: 25vw;
    height: 28vw;
  }

  100% {
    transform: translatey(5vw);
  }
}

.blob:nth-child(4) {
  animation: blob-anim-4 ease-in-out 2s infinite alternate;
  background: blue;
  width: 24vw;
  height: 18vw;
}

@keyframes blob-anim-5 {
  0% {
    transform: translate(18vw, 4vw);
  }

  25% {
    transform: translate(11vw, -4vw);
  }

  50% {
    transform: translate(2vw, 1vw);
  }

  100% {
    transform: translate(-5vw, 4vw);
  }
}

.blob:nth-child(5) {
  animation: blob-anim-5 ease-in-out 6s infinite alternate;
  width: 35vw;
  height: 25vw;
}

@keyframes blob-anim-6 {
  0% {
    transform: translate(27vw, 11vw);
    width: 50vw;
    height: 40vw;
  }

  25% {
    transform: translate(7vw, -12vw);
  }

  50% {
    transform: translate(9vw, 7vw);
  }

  100% {
    transform: translate(-4vw, 11vw);
  }
}

.blob:nth-child(6) {
  animation: blob-anim-6 ease-in-out 8s infinite alternate;
  width: 35vw;
  height: 25vw;
}